.scoreContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-right: 3%;
}

.currentScore,
.maxScore {
  text-align: left;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}


@media only screen and (min-width: 900px) { 
  
  .currentScore,
  .maxScore {
    font-size: 1.2rem;
  }

}