.scoreContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-right: 3%;
}

.currentScore,
.maxScore {
  text-align: left;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}
