* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 10vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 20px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.footer {
  height: 5vh;
}
