@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  height: 10vh;
  background-color: rgb(6, 8, 41);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 20px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: rgb(41, 41, 41);
}

.footer {
  height: 5vh;
}
